body {
    background-color: #FFE0D9;
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
 min-width:900px;
}
a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: red;
   }
a:hover {
    color: black;
}
#search {
    top:0;
       position:absolute;
       display:block;
       width: 20%;
       max-width: 384px;
       min-width: 384px;
}
#nav2 {
    width: 15%;
    float: left;
}
ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        
        clear: both;
}
li {padding: 15px;
    border-left: 1px dotted red;
    border-bottom: 1px dotted red;
    width: 85%;
}

li a {
        font-family: 'Marck Script', cursive;
        color: red;
        padding: 5px;
        text-decoration: none;
        font-weight: bold;
        font-size: 200%;
        display: block;
}
li a:hover {
    background-color: red;
}
article {
    width: 1000px; /* Ширина элемента в пикселах */
    padding: 25px; /* Поля вокруг текста */
    margin: auto;
    font-family: 'Lora', serif;
    font-size: 14pt;
    text-indent: 20px;
}

.logo {
   float: left;
   margin-left: 1px;
}
.me {
    float: right; /* Выравнивание по правому краю  */
    margin: 7px 0 7px 7px;
}
header {
    font-size: 34pt;
    color: red;
    font-family: 'Cormorant Infant', serif;
    margin-bottom: 15px;
    text-align: center;
}
#contact {
    width: 1000px; /* Ширина элемента в пикселах */
    margin:0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
  max-width:95%;
  box-sizing:border-box;
  padding:40px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
}
.comentar {
    font-size: 24pt;
    color: red;
    font-family: 'Cormorant Infant', serif;
}
#email{
  height:40px;
  width:25%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
  font-size:14px; 
  padding:10px;
  margin-bottom:30px;  
}
#email:focus,
#message:focus{
  outline:none;
   border:rgba(24,149,215,1) 2px solid;
   color:rgba(24,149,215,1);
}
#message{
    background: rgba(255, 255, 255, 0.4); 
    width:100%;
    height: 120px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    -moz-border-radius: 3px;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
    display:block;
    padding:10px;
    margin-bottom:30px;
    overflow:hidden;
}
label {
    font-size: 14pt;
    color: red;
    font-family: 'Cormorant Infant', serif; 
}
.button{
  height:50px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 0px solid;
  box-sizing:border-box;
  padding:10px;
  background:red;
  color:#FFF;
  font-family: 'Open Sans', sans-serif;  
  font-weight:400;
  font-size: 16pt;
  transition:background .4s;
  cursor:pointer;
}
/* Изменение фона кнопки при наведении */
.button:hover{
  background:#80b438;
}
h1 {
    font-size: 24pt;
    color: red;
    font-family: 'Cormorant Infant', serif;
}
html { 
 position:relative; 
 min-height:100%;
}

#footer {
 clear:both;
 height: 20px; 
 background: red;
 position: absolute;
 bottom: 1px;
 width: 100%;
 max-width: 1920px;
}
#footer p {
    text-indent: 15px;
    margin: 0;
}