body {
    background-color: #FFE0D9;
    max-width: 1920px;
}
a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: red;
   }
a:hover {
    color: black;
}
#navigation {
       top:0;
       position:absolute;
       display:block;
       width:100%;
}

.search-form {
    margin:0 auto;
    position: relative;
     float:left;
     left:20px;
     margin-top: 24px;
     max-width: 1920px;
}

.search-form .field {
  width: 150px;
  height: 20px;
  background: #FFE0D9;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.search-form input[type=submit] {
    position:relative; 
	left: 1px;
	border:1px solid #adc5cf;
	background: #e4f1f9; /* Old browsers */
	background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
	background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
	color:#7da2aa;
	cursor: pointer;
}
#nav2 {
    width: 15%;
    float: left;
}
ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        
        clear: both;
}
li {padding: 15px;
    border-left: 1px dotted red;
    border-bottom: 1px dotted red;
    width: 85%;
}

li a {
        font-family: 'Marck Script', cursive;
        color: red;
        padding: 5px;
        text-decoration: none;
        font-weight: bold;
        font-size: 200%;
        display: block;
}
li a:hover {
    background-color: red;
}
article {
    width: 1000px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto;
    font-family: 'Lora', serif;
    font-size: 14pt;
    text-indent: 20px;
    border-bottom: 1px dotted red;
}
.logo {
   float: left;
   margin-left: 1px;
   margin-top: 1px;
}
img {
    float: right; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px;
}
header {
    font-size: 34pt;
    color: red;
    font-family: 'Cormorant Infant', serif;
    
}

.social2 {
    margin-left: 25%;
    padding: 10px;
}
.comment-form {
    width: 1000px; /* Ширина элемента в пикселах */
    margin:0 auto;
    margin-top: 10px;
  max-width:95%;
  box-sizing:border-box;
  padding:40px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
}
.comentar {
   font-size: 24pt;
    color: red;
    font-family: 'Cormorant Infant', serif;
}
.textbox{
  height:50px;
  width:25%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
  font-size:18px; 
  padding:10px;
  margin-bottom:30px;  
}
.message:focus,
.textbox:focus{
  outline:none;
   border:rgba(24,149,215,1) 2px solid;
   color:rgba(24,149,215,1);
}
/* Стили текстового поля */
.message{
    background: rgba(255, 255, 255, 0.4); 
    width:100%;
    height: 120px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    -moz-border-radius: 3px;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
    display:block;
    padding:10px;
    margin-bottom:30px;
    overflow:hidden;
}
/* Базовые стили кнопки */
.button{
  height:50px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 0px solid;
  box-sizing:border-box;
  padding:10px;
  background:red;
  color:#FFF;
  font-family: 'Open Sans', sans-serif;  
  font-weight:400;
  font-size: 16pt;
  transition:background .4s;
  cursor:pointer;
}
/* Изменение фона кнопки при наведении */
.button:hover{
  background:#80b438;
}
body {
 height: 100%;
 min-width:900px;
}
html { 
 position:relative; 
 min-height:100%;
}

#footer {
 clear:both;
 height: 20px; 
 background: red;
 position: absolute;
 bottom: 1px;
 width: 100%;
 max-width: 1920px;
}
#footer p {
    text-indent: 15px;
    margin: 0;
}