body {
    background-color: #FFE0D9;
    max-width: 1920px;
    margin: 0 auto;
}
a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: red;
   }
a:hover {
    color: black;
}
#search {
    top:0;
       position:absolute;
       display:block;
       width: 20%;
       max-width: 384px;
       min-width: 384px;
}
#nav2 {
    width: 15%;
    float: left;
}
ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        
        clear: both;
}
li {padding: 15px;
    border-left: 1px dotted red;
    border-bottom: 1px dotted red;
    width: 85%;
}

li a {
        font-family: 'Marck Script', cursive;
        color: red;
        padding: 5px;
        text-decoration: none;
        font-weight: bold;
        font-size: 200%;
        display: block;
}
li a:hover {
    background-color: red;
}
.profiles {
    width: 1000px; /* Ширина элемента в пикселах */
    height: 100%;
    padding: 10px;/* Поля вокруг текста */
    margin: auto;
    font-family: 'Lora', serif;
    font-size: 12pt;
}

h2 {
    text-align: center;
    padding-top: 10px;
    font-family: 'Cormorant Infant', serif;
}
.profiles header {
    color: red;
    text-align: center;
    
}
.keepers article{
    width: 45%;
    height: 250px;
    padding: 10px;
    float: left;
    margin: auto;
    font-family: 'Lora', serif;
    border-top: 1px dotted red;
    border-bottom: 1px dotted red;
    border-right: 1px dotted red;
    border-left: 1px dotted red;
}
.keepers img{
    float: right; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px;
}
.defenders {
    clear: both;
}
.defenders article{
    width: 45%;
    height: 250px;
    padding: 10px;
    float: left;
    margin: auto;
    font-family: 'Lora', serif;
    border-top: 1px dotted red;
    border-bottom: 1px dotted red;
    border-right: 1px dotted red;
    border-left: 1px dotted red;
}
.defenders img{
    float: right; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px;
}
.midfielders {
    clear: both;
}
.midfielders article{
    width: 45%;
    height: 270px;
    padding: 10px;
    float: left;
    margin: auto;
    font-family: 'Lora', serif;
    border-top: 1px dotted red;
    border-bottom: 1px dotted red;
    border-right: 1px dotted red;
    border-left: 1px dotted red;
}
.midfielders img{
    float: right; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px;
}
.forwards {
    clear: both;
}
.forwards article{
    width: 45%;
    height: 250px;
    padding: 10px;
    float: left;
    margin: auto;
    font-family: 'Lora', serif;
    border-top: 1px dotted red;
    border-bottom: 1px dotted red;
    border-right: 1px dotted red;
    border-left: 1px dotted red;
}
.forwards img{
    float: right; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px;
}
#footer {
    clear:both;
    background: red;
    width: 100%;
}